<nav class="sidebar" aria-label="Menu principal">

    <div class="logo" aria-label="SRM Credit Engine">

        <span class="logo-title">
            SRM
        </span>

        <span class="logo-subtitle">
            Credit Engine
        </span>

    </div>

    <ul class="menu">

        <li>

            <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                Dashboard

            </a>

        </li>

        <li>

            <a routerLink="/simulation" routerLinkActive="active">

                Simulação

            </a>

        </li>

        <li>
            <a routerLink="/transactions" routerLinkActive="active">

                Transações

            </a>
        </li>

    </ul>

</nav>